<h1>Calculate monthly payment</h1>

<form action="/payment/results">
  <div>
   <label for="apr">APR</label>

   <input id="apr" type="text" name="user_apr" placeholder="E.g.5.4.2">
   </div>
   <div>

   <label for="year">Number of years</label>

   <input id="year" type="text" name="user_year" placeholder="How many years to repay?">
   </div>
   <div>
   <label for="payment">Principal</label>

   <input id="payment" type="text" name="user_pay" placeholder="How much principal?">
  
  </div>

  <button>Calculate monthly payment</button>
</form>
